/* apply a natural box layout model to all elements */
*, *:before, *:after {
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
font-family: Helvetica;
}

@font-face {
 font-family: 'packed-images';
 src: url('../font/packed-images.eot?20695900');
 src: url('../font/packed-images.eot?20695900#iefix') format('embedded-opentype'),
      url('../font/packed-images.woff?20695900') format('woff'),
      url('../font/packed-images.ttf?20695900') format('truetype'),
      url('../font/packed-images.svg?20695900#packed-images') format('svg');
 font-weight: normal;
 font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
 @font-face {
   font-family: 'packed-images';
   src: url('../font/packed-images.svg?20695900#packed-images') format('svg');
 }
}
*/

[class^="devtools-animation-icon-"]:before, [class*=" devtools-animation-icon-"]:before {
 font-family: "packed-images";
 font-style: normal;
 font-weight: normal;
 speak: none;

 display: inline-block;
 text-decoration: inherit;
 width: 1em;
 margin-right: .2em;
 text-align: center;
 /* opacity: .8; */

 /* For safety - reset parent styles, that can break glyph codes*/
 font-variant: normal;
 text-transform: none;
    
 /* fix buttons height, for twitter bootstrap */
 line-height: 1em;

 /* Animation center compensation - margins should be symmetric */
 /* remove if not needed */
 margin-left: .2em;

 /* you can be more comfortable with increased icons size */
 /* font-size: 120%; */

 /* Uncomment for 3D effect */
 /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.devtools-animation-icon-stop-circled:before { content: '\e803'; } /* '' */
.devtools-animation-icon-stop:before { content: '\e802'; } /* '' */
.devtools-animation-icon-play-circled2:before { content: '\e801'; } /* '' */
.devtools-animation-icon-play-circled:before { content: '\e800'; } /* '' */
.devtools-animation-icon-pause-circled:before { content: '\e805'; } /* '' */
.devtools-animation-icon-pause:before { content: '\e804'; } /* '' */

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:300ms;-moz-animation-duration:300ms;-ms-animation-duration:300ms;-o-animation-duration:300ms;animation-duration:300ms;}.animated.hinge{-webkit-animation-duration:2s;-moz-animation-duration:2s;-ms-animation-duration:2s;-o-animation-duration:2s;animation-duration:2s;}@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}	50% {
		opacity: 1;
		-webkit-transform: scale(1.05);
	}
	
	70% {
		-webkit-transform: scale(.9);
	}
	
	100% {
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-moz-transform: scale(1.05);
	}
	
	70% {
		-moz-transform: scale(.9);
	}
	
	100% {
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		-o-transform: scale(1.05);
	}
	
	70% {
		-o-transform: scale(.9);
	}
	
	100% {
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}
	
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	
	70% {
		transform: scale(.9);
	}
	
	100% {
		transform: scale(1);
	}
}

.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}
@-webkit-keyframes bounceOut {
	0% {
		-webkit-transform: scale(1);
	}
	
	25% {
		-webkit-transform: scale(.95);
	}
	
	50% {
		opacity: 1;
		-webkit-transform: scale(1.1);
	}
	
	100% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}	
}

@-moz-keyframes bounceOut {
	0% {
		-moz-transform: scale(1);
	}
	
	25% {
		-moz-transform: scale(.95);
	}
	
	50% {
		opacity: 1;
		-moz-transform: scale(1.1);
	}
	
	100% {
		opacity: 0;
		-moz-transform: scale(.3);
	}	
}

@-o-keyframes bounceOut {
	0% {
		-o-transform: scale(1);
	}
	
	25% {
		-o-transform: scale(.95);
	}
	
	50% {
		opacity: 1;
		-o-transform: scale(1.1);
	}
	
	100% {
		opacity: 0;
		-o-transform: scale(.3);
	}	
}

@keyframes bounceOut {
	0% {
		transform: scale(1);
	}
	
	25% {
		transform: scale(.95);
	}
	
	50% {
		opacity: 1;
		transform: scale(1.1);
	}
	
	100% {
		opacity: 0;
		transform: scale(.3);
	}	
}

.bounceOut {
	-webkit-animation-name: bounceOut;
	-moz-animation-name: bounceOut;
	-o-animation-name: bounceOut;
	animation-name: bounceOut;
}

.container {
	width: 620px;
	margin: 0 auto;
	padding: 10px;
}

.devtools-animation-example {
	margin-bottom: 50px;
	padding-bottom: 21px;
	margin-bottom: 70px;
	border-bottom: 10px solid #E9E9E9;
}

.devtools-animation-container {
	border: 1px solid #000;
	width: 600px;
	overflow: hidden;
	display: inline-block;
	position: relative;
}

.devtools-animation-container:hover .devtools-animation-icon {
	display: inline-block;
}

.devtools-animation-icon {
	position: absolute;
	top: 0;
	font-size: 50px;
	right: 44%;
	cursor: pointer;
	color: #4D4D4D;
}

.devtools-animation-icon {
	display: none;
}

/* Highlight on target */

@-webkit-keyframes target {
	from { background:#ffffd3; }
	90% { background:#ffffd3; }
	to { background:#ffffff; }
}

.devtools-animation-example > a {
	margin: 0;
	padding: 10px 0;
	display: block;
	outline: none;
	font-weight: bold;
}

.devtools-animation-example > a:target {
	-webkit-animation:target 2s linear;
}
