
.packed-image-container {
	border: 1px solid #000;
	width: 600px;
	overflow: hidden;
	display: inline-block;
	position: relative;
}

.packed-image {

}

.packed-image.hidden {
	display: none;
}

.packed-image-container[data-height="650"] {
	height: 650px;
}

.packed-image-container[data-height="650"] .packed-images-icon {
	line-height: 650px;
}

.packed-image-container[data-height="200"] .packed-images-icon {
	line-height: 200px;
}

.packed-image-container:hover .packed-image-canvas {
/*	opacity: 0.7;
*/}

.packed-image-container:hover .packed-images-icon {
	display: inline-block;
}

.packed-images-icon {
	position: absolute;
	top: 0;
	font-size: 50px;
	right: 44%;
	cursor: pointer;
	color: #4D4D4D;
}

.packed-images-icon {
	display: none;
}

.packed-images-icon-pause-circled {

}
