
.packed-image-container {
	border: 1px solid #000;
	width: 600px;
	overflow: hidden;
	display: inline-block;
}

.packed-image {

}

.packed-image.hidden {
	display: none;
}

.packed-image-container[data-height="650"] {
	height: 650px;
}

.packed-image-container[data-height="200"] {
	height: 200px;
}

.packed-image-canvas:hover {
	opacity: 0.7;
}